* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}
.container {
  position: relative;
}
#image1 {
  width: 318px;
  height: 159px;
}
.continer .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
.continer .card::before {
  color: red;
}
